.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem
}

.chart-box {
  width: auto;
  overflow-y: auto;
}

.chart-line {
  width: 80%;
  position: relative;
}

.chart-line > select {
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: 10%;
}

@media screen and (max-width: 600px){
  .chart-line {
    width: 100%;
  }
  .chart-box {
    height: 100%;
  }
}


@media screen and (max-width: 480px){
  .chart-container {
    padding: 0rem
  }
}
