.best-cryptos-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 40%;
  border-bottom: 0.1rem solid var(--second-color);
  border-top: 0.1rem solid var(--second-color);
}

.best-cryptos-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-box-column {
  display: flex;
  flex-direction: column;
}

.best-cryptos-title {
  padding-top: 1rem;
  font-size: 1rem;
  text-align: center;
}

@media screen and (max-width: 480px){
  .best-cryptos-container {
    flex-basis: 100%;
  }
}

