.flex-box-row {
  display: flex;
  flex-direction: row;
}

.sb {
  justify-content: space-evenly;
}

.flex-box-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}