.card-container {
  flex-basis: 25%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 25%;
  color: black;
  padding: 1rem;
  margin: 1rem;
  border: 0.2rem solid #333;
  border-radius: 1rem
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.header-img {
  width: 25%;
}

.header-img img {
  width: 100%;
  background-size: cover;
}

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  border: 1px solid
}